* { font-family: sans-serif; }

table {  
  color: #333;
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 500px;
}

td, th { border: 1px solid #CCC; height: 30px; padding: 0px 5px; text-align: center; }

th {  
  background: #F3F3F3;
  font-weight: bold;
}

td { background: #FAFAFA }
